<!-- @if (!isDashboardRoute) { -->
@if (!isPageNotFound()) {
  <div>
    <a routerLink="/home">Home</a> <br> <br>
    <a routerLink="/query-fragment">Query Fragment Page</a> <br> <br>
    <a routerLink="/login">Login Page</a> <br> <br>
    <a routerLink="/personal">Personal Page</a> <br> <br>
    <a routerLink="/about">About</a>
    <button (click)="gotToDashboard()">Go to Dashboard</button> <br>
    <label for="name">Enter your name:</label>
    <input type="text"  id="name" placeholder="Your Name" [(ngModel)]="userName" >
    <button (click)="navigateToGreeting()">Submit</button>
    <app-cookies />
  </div>
}


<router-outlet />
